.feedback-form {
  justify-self: center;
  text-align: left;
  justify-content: flex-start;
  flex-direction: column;
  width: 360px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form label:last-of-type {
  margin-bottom: 16px;
}

.feedback-form input,
.feedback-form textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  font-size: 19px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 1px solid #000;
  outline: none;
}

.feedback-form textarea {
  min-height: 80px;
  max-height: 300px;
  resize: vertical;
  overflow: hidden;
}

.feedback-form button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: 0;
  border-radius: 8px;
  padding: 8px 16px;
  height: 40px;
  background-color: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form button:hover,
.feedback-form button:focus {
  background-color: #6c8cff;
}

input::placeholder {
  margin: 12px;
}
